* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

html {
  font-size  : 62.5%;
  font-family: 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
  color          : blueviolet;
  font-weight    : bold;
}

body {
  font-size       : 1.8rem;
  line-height     : 1.5;
  text-align      : center;
  color           : #333;
  background-color: wheat;

}

section {
  margin    : 20px 10px;
  text-align: justify;
}

section h2 {
  text-align    : center;
  text-transform: uppercase;
  font-size     : 2.8rem;
  margin-bottom : 10px;
}

header {
  width : 100vw;
  height: 100vh;
}

#title {
  width : 100%;
  height: 20%;
}

#img-div {
  display         : flex;
  flex-direction  : column;
  justify-content : space-evenly;
  width           : 100%;
  height          : 80%;
  background-color: rgba(245, 245, 245, 0.808);
}

#image {
  width     : 100%;
  height    : 80%;
  object-fit: cover;
}

#img-caption {
  align-self: center;
}

main {
  margin-top: 4rem;
}

.img {
  width     : 90%;
  height    : 400px;
  object-fit: cover;
  box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.75);
}

.img-conference {
  display: none;
}

footer {
  display         : flex;
  flex-wrap       : wrap;
  justify-content : center;
  background-color: white;
}

footer div {
  width : 100%;
  border: 1px solid black;
}

@media (min-width: 700px) {
  header {
    display        : flex;
    flex-direction : column;
    justify-content: space-evenly;
  }

  #title {
    height: auto;
  }

  #tribute-info {
    width     : 80%;
    margin    : 0 auto;
    border    : 1px solid black;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    background-color: rgba(218, 180, 110, 0.747);
  }

  .img-conference {
    display: block;
  }



}