:root {
  --links     : #D6C3B5;
  --color1    : #9E997B;
  --color2    : #5B5E4A;
  --article   : #3B3D30;
  --background: #192320;
  --text      : #e0c5bc;
}

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

html {
  font-size  : 62.5%;
  font-family: 'Gideon Roman', cursive;
  font-weight: 500;
}

a {
  text-decoration: none;
  color          : var(--links);
  font-weight    : bold;
}

body {
  font-size       : 1.8rem;
  line-height     : 1.5;
  text-align      : center;
  color           : var(--text);
  background-color: var(--background);

}

section {
  margin    : 20px 10px;
  text-align: justify;
}

section h2 {
  text-align    : center;
  text-transform: uppercase;
  font-size     : 2.8rem;
  margin-bottom : 10px;
}

header {
  height: 100vh;
}

#title {
  width : 100%;
  height: 20%;
}

#img-div {
  display         : flex;
  flex-direction  : column;
  justify-content : space-evenly;
  height          : 80%;
  background-color: var(--color2);
}

#image-header {
  width     : 100%;
  height    : 80%;
  object-fit: cover;
}

#img-caption {
  align-self: center;
}

main {
  margin-top: 4rem;
}

.img {
  width     : 90%;
  height    : 400px;
  object-fit: cover;
  box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.75);
  transform: scale(1);
  transition: transform 0.3s;
}

.img:hover{ 
  transform: scale(1.1);
}

.img-conference {
  display: none;
}

footer {
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  background-color: var(--color1);
  color           : var(--background);
}

footer div {
  width : 100%;
  border: 1px solid black;
}


@media (min-width: 630px) {
  .img-conference {
    display: block;
    margin : 10px auto;
  }

  footer {
    flex-direction: row;
  }

}

@media (min-width: 700px) {
  header {
    display        : flex;
    flex-direction : column;
    justify-content: space-evenly;
  }

  #title {
    height: auto;
  }

  #tribute-info {
    width           : 80%;
    max-width       : 850px;
    margin          : 0 auto;
    border          : 1px solid black;
    box-shadow      : 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    background-color: var(--article);
    border-radius   : 15px;
  }

  .curious-fact {
    width : 90%;
    margin: 20px auto;
  }

  .curious-fact section {
    margin    : 0 auto;
    width     : 90%;
    text-align: center;
  }
}